/* app styles go here */
body {
    font-family: Arial, SansSerif;
}
h1 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: deepskyblue;
    padding: .3em;
}


.success{
    border: 1px solid green;
    box-shadow: 2px 10px 10px green;
}

.hasError{
    border: 1px solid red;
    box-shadow: 2px 10px 10px red;
    transition: all .5s ease-in;
}