<div ng-if="$ctrl.character">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{$ctrl.character.name}}</span>
                <span class="md-subhead">Description</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="$ctrl.close()">Close</md-button>
        </md-card-actions>
    </md-card>
</div>