<h1>Star Wars Characters</h1>

<div>
Filter: <input type="text" ng-model="$ctrl.searchText">
</div>
<br />

<table>
    <tr>
        <th ng-click="$ctrl.selfSort('name')">Name</th>
        <th ng-click="$ctrl.selfSort('gender')">Gender</th>
        <th ng-click="$ctrl.selfSort('mass')">Weight</th>
    </tr>
    <tr ng-repeat="character in $ctrl.characters | filter:$ctrl.searchText | orderBy: $ctrl.sort" ng-class-odd="'row-shadow'">
        <td>{{ character.name }}</td>
        <td>{{ character.gender }}</td>
        <td>{{ $ctrl.getWeightInPounds(character) | number:1 }} lbs</td>
    </tr>
</table>
